In [1]:
# all imports go at the top, even though python is a very open language
import numpy as np
import pandas as pd

In [2]:
print(dir(pd))
print(dir(pd.DataFrame))

['Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseArray', 'SparseDataFrame', 'SparseDtype', 'SparseSeries', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_lib', '_libs', '_np_version_under1p14', '_np_version_under1p15', '_np_version_under1p16', '_np_version_under1p17', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'datetime', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'np', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_msgpack', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_msgpack', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']
['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '__abs__', '__add__', '__and__', '__array__', '__array_priority__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_box_col_values', '_box_item_values', '_builtin_table', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_combine_const', '_combine_frame', '_combine_match_columns', '_combine_match_index', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_count_level', '_create_indexer', '_cython_table', '_data', '_deprecations', '_dir_additions', '_dir_deletions', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_from_arrays', '_from_axes', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_space_character_free_column_resolvers', '_get_value', '_get_values', '_getitem_bool_array', '_getitem_frame', '_getitem_multilevel', '_gotitem', '_iget_item_cache', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_internal_get_values', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_copy', '_is_cython_func', '_is_datelike_mixed_type', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_join_compat', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_series', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_to_dict_of_blocks', '_try_aggregate_string_function', '_typ', '_unpickle_frame_compat', '_unpickle_matrix_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'as_blocks', 'as_matrix', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'axes', 'between_time', 'bfill', 'blocks', 'bool', 'boxplot', 'clip', 'clip_lower', 'clip_upper', 'columns', 'combine', 'combine_first', 'compound', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'floordiv', 'from_dict', 'from_items', 'from_records', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_value', 'get_values', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'is_copy', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'ix', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_index', 'set_value', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_msgpack', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sparse', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unstack', 'update', 'values', 'var', 'where', 'xs']

## Series

In [3]:
list("abcd")

['a', 'b', 'c', 'd']

In [4]:
# Normal series and series with custom index
s1 = pd.Series([1,2,3], dtype='int8')
s2 = pd.Series([1,2,3, np.nan], index=list("abcd"))
print(s1)
print()
print(s2)

0    1
1    2
2    3
dtype: int8

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64

In [5]:
# changing dtype: astype
print(s1.astype('float64'))
print()
print(s1.astype('str'))
print(s1.astype('str').dtype)

0    1.0
1    2.0
2    3.0
dtype: float64

0    1
1    2
2    3
dtype: object
object

In [6]:
# shape, size, dtype, index, values
print(s1.shape)
print(s1.size)
print(s1.dtype)
print(s1.index)
print(s1.values, type(s1.values))

print()
print(s2.index)
print(s2.values)

(3,)
3
int8
RangeIndex(start=0, stop=3, step=1)
[1 2 3] <class 'numpy.ndarray'>

Index(['a', 'b', 'c', 'd'], dtype='object')
[ 1.  2.  3. nan]

In [7]:
# aggregate operations: min, max, unique, sum etc.
print(s1.min())
print(s1.max())
print(s1.unique())
print(s1.sum())
print(s1.all())
print(s1.any())

print()
print(s2.min())
print(s2.max())
print(s2.unique())
print(s2.sum())
print(s2.all())
print(s2.any())

1
3
[1 2 3]
6
True
True

1.0
3.0
[ 1.  2.  3. nan]
6.0
True
True

In [8]:
# arithmetic operations(new copy) and broadcast like numpy
print(s1 * 10) 
print()
print(s1 - (s1*10))

print()
print(s1 - s2)
s3 = pd.Series([1,2,3,4,5], dtype='int8')

print()
print(s3-s1)

0    10
1    20
2    30
dtype: int8

0    -9
1   -18
2   -27
dtype: int8

0   NaN
1   NaN
2   NaN
a   NaN
b   NaN
c   NaN
d   NaN
dtype: float64

0    0.0
1    0.0
2    0.0
3    NaN
4    NaN
dtype: float64

In [9]:
# indexing and slicing
print(s1[1])
print(s2['a'])

print()
print(s1[1:])
print()
print(s2['a':])


print()
print(s1[1:2])
print()
print(s2['a':'c'])

2
1.0

1    2
2    3
dtype: int8

a    1.0
b    2.0
c    3.0
d    NaN
dtype: float64

1    2
dtype: int8

a    1.0
b    2.0
c    3.0
dtype: float64

In [10]:
# result of operations as index
r = s1 % 2 == 0
print(r)

print()
print(s1[r])

print()
print(s1[ [0,1] ])

print()
s1[ [0,2] ] = 3
print(s1)

0    False
1     True
2    False
dtype: bool

1    2
dtype: int8

0    1
1    2
dtype: int8

0    3
1    2
2    3
dtype: int8

In [11]:
# frequency : value_counts
r = s1.value_counts()
print(r, r.index)

print()
s4 = pd.Series(list('abcccccccccabaa'))
print(s4.value_counts())

3    2
2    1
dtype: int64 Int64Index([3, 2], dtype='int64')

c    9
a    4
b    2
dtype: int64

## DataFrame

In [12]:
# dataframe from dict or list of rows
df1 = pd.DataFrame(
    {
        "Name":   ["Gaurav", "Abhishek1", "Krishna", "Abhishek2", "Harshita", "Joey", "Shweta", "na-1" , "na-2"  , np.nan],
        "Age":    [ 0      , 1          , 2        , 2          , 1         , 2     , 3       , 1      ,  np.nan , 2     ],
        "Gender": [ 0      , 0          , 0        , 0          , 1         , 1     , 1       , np.nan ,  0      , 0     ]
    }
)
df2 = pd.DataFrame([("Gaurav",1), ("Abhiskek",2), ("Krishna",3), ("Abhishek2",4)],
                    index=[0,11,2,3], 
                    columns=["Name", "Number"])
print(df1)
print()
print(df2)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

         Name  Number
0      Gaurav       1
11   Abhiskek       2
2     Krishna       3
3   Abhishek2       4

In [13]:
# shape, size, dtypes, index, columns, T
print(df1.shape)
print()
print(df1.size)
print()
print(df1.dtypes, type(df1.dtypes))
print()
print(df1.index)
print()
print(df1.columns)
print()
print(df1.T)

print()
print("Second one")
print(df2.shape)
print(df2.size)
print(df2.dtypes)
print(df2.index)
print(df2.columns)
print(df2.T)

(10, 3)

30

Name       object
Age       float64
Gender    float64
dtype: object <class 'pandas.core.series.Series'>

RangeIndex(start=0, stop=10, step=1)

Index(['Name', 'Age', 'Gender'], dtype='object')

             0          1        2          3         4     5       6     7  \
Name    Gaurav  Abhishek1  Krishna  Abhishek2  Harshita  Joey  Shweta  na-1
Age          0          1        2          2         1     2       3     1
Gender       0          0        0          0         1     1       1   NaN

           8    9
Name    na-2  NaN
Age      NaN    2
Gender     0    0

Second one
(4, 2)
8
Name      object
Number     int64
dtype: object
Int64Index([0, 11, 2, 3], dtype='int64')
Index(['Name', 'Number'], dtype='object')
            0         11       2          3
Name    Gaurav  Abhiskek  Krishna  Abhishek2
Number       1         2        3          4

In [14]:
# Rename index and columns on df2.
# Inplace vs normal operation
d = df1.rename(columns = {'Name':'Abc'})
print(df1)
print()
print(d)

print()
d1 = d.rename(columns = {'Age':'A'}, inplace=True)
print(d1)
print(d)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

         Abc  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

None
         Abc    A  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

In [15]:
print(df1.rename(index={5:50}))

print()
d.columns = ['N',"A","G"]
print(d)

print()
print(d.rename(lambda x: x.lower(), axis=1))

         Name  Age  Gender
0      Gaurav  0.0     0.0
1   Abhishek1  1.0     0.0
2     Krishna  2.0     0.0
3   Abhishek2  2.0     0.0
4    Harshita  1.0     1.0
50       Joey  2.0     1.0
6      Shweta  3.0     1.0
7        na-1  1.0     NaN
8        na-2  NaN     0.0
9         NaN  2.0     0.0

           N    A    G
0     Gaurav  0.0  0.0
1  Abhishek1  1.0  0.0
2    Krishna  2.0  0.0
3  Abhishek2  2.0  0.0
4   Harshita  1.0  1.0
5       Joey  2.0  1.0
6     Shweta  3.0  1.0
7       na-1  1.0  NaN
8       na-2  NaN  0.0
9        NaN  2.0  0.0

           n    a    g
0     Gaurav  0.0  0.0
1  Abhishek1  1.0  0.0
2    Krishna  2.0  0.0
3  Abhishek2  2.0  0.0
4   Harshita  1.0  1.0
5       Joey  2.0  1.0
6     Shweta  3.0  1.0
7       na-1  1.0  NaN
8       na-2  NaN  0.0
9        NaN  2.0  0.0

In [16]:
# Indexing columns directly and via index.
print(df1.Name) # only for valid non-numeric names
print(df1['Name'])

0       Gaurav
1    Abhishek1
2      Krishna
3    Abhishek2
4     Harshita
5         Joey
6       Shweta
7         na-1
8         na-2
9          NaN
Name: Name, dtype: object
0       Gaurav
1    Abhishek1
2      Krishna
3    Abhishek2
4     Harshita
5         Joey
6       Shweta
7         na-1
8         na-2
9          NaN
Name: Name, dtype: object

In [17]:
# Series in a DataFrame
print(type(df1.Name))
print()
print(df1.Age.unique())
print()
print(df1.Age.value_counts())

<class 'pandas.core.series.Series'>

[ 0.  1.  2.  3. nan]

2.0    4
1.0    3
3.0    1
0.0    1
Name: Age, dtype: int64

In [18]:
# describe, top/bottom rows of data
print(df1.describe(include='all'))

print()
print(df1.head())

print()
print(df1.head(3))

print()
print(df1.tail())

            Name       Age    Gender
count          9  9.000000  9.000000
unique         9       NaN       NaN
top     Harshita       NaN       NaN
freq           1       NaN       NaN
mean         NaN  1.555556  0.333333
std          NaN  0.881917  0.500000
min          NaN  0.000000  0.000000
25%          NaN  1.000000  0.000000
50%          NaN  2.000000  0.000000
75%          NaN  2.000000  1.000000
max          NaN  3.000000  1.000000

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0

     Name  Age  Gender
5    Joey  2.0     1.0
6  Shweta  3.0     1.0
7    na-1  1.0     NaN
8    na-2  NaN     0.0
9     NaN  2.0     0.0

In [19]:
# indexing and slicing
# loc, iloc [rows, cols]

In [38]:
# loc
print(df1.loc[0])
print()
print(df1.loc[:3])
print()
print(df1.loc[::2, 'Name'::2])
print()
print(df1.loc[1:3, 'Name':'Age'])

Name      Gaurav
Age            0
Gender         0
Name: 0, dtype: object

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0

       Name  Gender
0    Gaurav     0.0
2   Krishna     0.0
4  Harshita     1.0
6    Shweta     1.0
8      na-2     0.0

        Name  Age
1  Abhishek1  1.0
2    Krishna  2.0
3  Abhishek2  2.0

In [65]:
# iloc
print(df2)
print()
print(df2.iloc[1])
print()
print(df2.iloc[:,0])
print()
print(df2.iloc[:,1:])
print()
print(df2.iloc[:][1:]) # different

         Name  Number
0      Gaurav       1
11   Abhiskek       2
2     Krishna       3
3   Abhishek2       4

Name      Abhiskek
Number           2
Name: 11, dtype: object

0        Gaurav
11     Abhiskek
2       Krishna
3     Abhishek2
Name: Name, dtype: object

    Number
0        1
11       2
2        3
3        4

         Name  Number
11   Abhiskek       2
2     Krishna       3
3   Abhishek2       4

In [60]:
# aggregate operations (with and without axis : row-1, col-0)
# min, max, count, ...
print(df1.min())
print()
print(df1.min(axis=1))
print()
print(df1.count(axis=1))
print(df1.tail())

Age       0.0
Gender    0.0
dtype: float64

0    0.0
1    0.0
2    0.0
3    0.0
4    1.0
5    1.0
6    1.0
7    1.0
8    0.0
9    0.0
dtype: float64

0    3
1    3
2    3
3    3
4    3
5    3
6    3
7    2
8    2
9    2
dtype: int64
     Name  Age  Gender
5    Joey  2.0     1.0
6  Shweta  3.0     1.0
7    na-1  1.0     NaN
8    na-2  NaN     0.0
9     NaN  2.0     0.0

In [69]:
# arithmetic operations
print(df1*2)
# print(df1-2) # doesn't work since Name column is a string

                 Name  Age  Gender
0        GauravGaurav  0.0     0.0
1  Abhishek1Abhishek1  2.0     0.0
2      KrishnaKrishna  4.0     0.0
3  Abhishek2Abhishek2  4.0     0.0
4    HarshitaHarshita  2.0     2.0
5            JoeyJoey  4.0     2.0
6        ShwetaShweta  6.0     2.0
7            na-1na-1  2.0     NaN
8            na-2na-2  NaN     0.0
9                 NaN  4.0     0.0

In [76]:
# Na Values: isna, fillna, dropna
print(df1.isna().any())
print()
print(df1.isna().any(axis=1))
print()
print(df1.isna().sum())

Name      True
Age       True
Gender    True
dtype: bool

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8     True
9     True
dtype: bool

Name      1
Age       1
Gender    1
dtype: int64

In [92]:
# fillna
print(df1.tail())
print()
r = df1.fillna(method='ffill')#,inplace=True)
print(r.tail())

print()
r = df1.Name.fillna('-')
print(r)

print(df1)

     Name  Age  Gender
5    Joey  2.0     1.0
6  Shweta  3.0     1.0
7    na-1  1.0     NaN
8    na-2  NaN     0.0
9     NaN  2.0     0.0

     Name  Age  Gender
5    Joey  2.0     1.0
6  Shweta  3.0     1.0
7    na-1  1.0     1.0
8    na-2  1.0     0.0
9    na-2  2.0     0.0

0       Gaurav
1    Abhishek1
2      Krishna
3    Abhishek2
4     Harshita
5         Joey
6       Shweta
7         na-1
8         na-2
9            -
Name: Name, dtype: object
        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

In [90]:
# dropna
r = df1.dropna()
print(r)
print()
r = df1.dropna(axis=1)
print(r)
print()
r = df1.dropna(axis=1, how = 'all')
print(r)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

In [93]:
# any, all

In [98]:
# ordering data, sort_values
print(df1.sort_values(by='Name'))
print()
print(df1.sort_values(by=['Age','Name'], ascending=[True, False]))

        Name  Age  Gender
1  Abhishek1  1.0     0.0
3  Abhishek2  2.0     0.0
0     Gaurav  0.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
2    Krishna  2.0     0.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

        Name  Age  Gender
0     Gaurav  0.0     0.0
7       na-1  1.0     NaN
4   Harshita  1.0     1.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
5       Joey  2.0     1.0
3  Abhishek2  2.0     0.0
9        NaN  2.0     0.0
6     Shweta  3.0     1.0
8       na-2  NaN     0.0

In [100]:
# row / column wise operation: apply
tmp = pd.DataFrame(np.random.randint(10,20,20).reshape(5,4))

In [104]:
print(tmp)
print(tmp.apply(sum))
print()
print(tmp.apply(sum, axis=1))
print()
print(tmp.apply(lambda x : x**2, axis=1))

    0   1   2   3
0  10  13  16  18
1  15  11  17  14
2  17  12  15  19
3  15  16  17  11
4  12  19  11  15
0    69
1    71
2    76
3    77
dtype: int64

0    57
1    57
2    63
3    59
4    57
dtype: int64

     0    1    2    3
0  100  169  256  324
1  225  121  289  196
2  289  144  225  361
3  225  256  289  121
4  144  361  121  225

In [106]:
# str submodule (replace etc)
print(df1.Name.str.lower())
print(dir(df1.Name.str))

0       gaurav
1    abhishek1
2      krishna
3    abhishek2
4     harshita
5         joey
6       shweta
7         na-1
8         na-2
9          NaN
Name: Name, dtype: object
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__frozen', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_doc_args', '_freeze', '_get_series_list', '_inferred_dtype', '_is_categorical', '_make_accessor', '_orig', '_parent', '_validate', '_wrap_result', 'capitalize', 'casefold', 'cat', 'center', 'contains', 'count', 'decode', 'encode', 'endswith', 'extract', 'extractall', 'find', 'findall', 'get', 'get_dummies', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'islower', 'isnumeric', 'isspace', 'istitle', 'isupper', 'join', 'len', 'ljust', 'lower', 'lstrip', 'match', 'normalize', 'pad', 'partition', 'repeat', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'slice', 'slice_replace', 'split', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'wrap', 'zfill']

In [27]:
# load and save data

In [117]:
# groups: groupby
grp  = df1.groupby(by=['Age'])
print(grp)
print(grp.groups)

print(grp.Age.sum())

print()
print(grp.Age.count())

print()
print(df1.Age.sum())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001D075887448>
{0.0: Int64Index([0], dtype='int64'), 1.0: Int64Index([1, 4, 7], dtype='int64'), 2.0: Int64Index([2, 3, 5, 9], dtype='int64'), 3.0: Int64Index([6], dtype='int64')}
Age
0.0    0.0
1.0    3.0
2.0    8.0
3.0    3.0
Name: Age, dtype: float64

Age
0.0    1
1.0    3
2.0    4
3.0    1
Name: Age, dtype: int64

14.0

In [113]:

grp  = df1.groupby(by=['Age','Gender'])
print(grp)
print(grp.groups)
print()
print(dir(grp))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001D0758A4108>
{(0.0, 0.0): Int64Index([0], dtype='int64'), (1.0, 0.0): Int64Index([1], dtype='int64'), (1.0, 1.0): Int64Index([4], dtype='int64'), (1.0, nan): Int64Index([7], dtype='int64'), (2.0, 0.0): Int64Index([2, 3, 9], dtype='int64'), (2.0, 1.0): Int64Index([5], dtype='int64'), (3.0, 1.0): Int64Index([6], dtype='int64'), (nan, 0.0): Int64Index([8], dtype='int64')}

['Age', 'Gender', 'Name', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_accessors', '_add_numeric_operations', '_agg_examples_doc', '_agg_see_also_doc', '_aggregate', '_aggregate_generic', '_aggregate_item_by_item', '_aggregate_multiple_funcs', '_apply_filter', '_apply_to_column_groupbys', '_apply_whitelist', '_assure_grouper', '_block_agg_axis', '_bool_agg', '_builtin_table', '_choose_path', '_concat_objects', '_constructor', '_cumcount_array', '_cython_agg_blocks', '_cython_agg_general', '_cython_table', '_cython_transform', '_decide_output_index', '_def_str', '_define_paths', '_deprecations', '_dir_additions', '_dir_deletions', '_fill', '_get_cythonized_result', '_get_data_to_aggregate', '_get_index', '_get_indices', '_gotitem', '_group_selection', '_insert_inaxis_grouper_inplace', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cython_func', '_iterate_column_groupbys', '_iterate_slices', '_make_wrapper', '_obj_with_exclusions', '_python_agg_general', '_python_apply_general', '_reindex_output', '_reset_cache', '_reset_group_selection', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_group_selection', '_set_result_index_ordered', '_shallow_copy', '_transform_fast', '_transform_general', '_transform_item_by_item', '_transform_should_cast', '_try_aggregate_string_function', '_try_cast', '_wrap_agged_blocks', '_wrap_aggregated_output', '_wrap_applied_output', '_wrap_generic_output', '_wrap_transformed_output', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']
Age  Gender
0.0  0.0       0.0
1.0  0.0       1.0
     1.0       1.0
2.0  0.0       6.0
     1.0       2.0
3.0  1.0       3.0
Name: Age, dtype: float64

In [29]:
# groups and aggregates